<h1>Employee Profile</h1>

<br>
<h3>ANNUAL LEAVE REQUEST FORM</h3>
<p>In line with company policy relating to annual leave, all employees must submit a formal request for
annual leave. A separate request form must be submitted for each block of leave requested.
All requests are considered based on existing leave requests received from all employees, work
  commitments and minimum staffing levels required.</p>

  <%= form_for :article, url: articles_path do |f| %>
  
  First Name<br>
  <p>
    <%= f.text_field :title %>
  </p>
   Second Name<br>
  <p>
    <%= f.text_field :title1 %>
  </p>
  Date of birth<br>
   <p>
     <%= f.text_field :title2 %>
  </p>
   Email<br>
  <p>
    <%= f.text_field :title3 %>
  </p>
 <p>
    Address<br>
    <%= f.text_area :text1 %>
  </p>
  <p>
   I wish to request leave from my annual entitlement as follows:<br>
    My proposed leave dates: <br>
    <%= f.text_area :text2 %>
  </p>
  Total number of workings days is:	<br>
 <%= f.text_area :text3 %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
  
  